[submodule "StakingReward/lib/forge-std"]
	path = StakingReward/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "StakingReward/lib/openzeppelin-contracts"]
	path = StakingReward/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
